/* Font Google Embbed Link */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Global Styling and CSS Variable */
:root {
  --primary: #e48e27;
  --secondary: #e61c5d;
  --footerColor: #2c2c2c;
  --fontPrimary: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

/* Button Back To Top */
.button-backtop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  display: none;
  box-shadow: 0 0 0 1.5px rgb(236, 154, 0);
  background: var(--primary);
  z-index: 999;
}

.button-backtop i {
  color: white;
  font-size: 1rem;
  line-height: 35px;
}

/* Loading Screen Styling */
.loading-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  gap: 1.5rem;
  top: 0;
  left: 0;
}

.loading-screen {
  width: 40px;
  height: 40px;
  color: var(--primary);
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}
.loading-screen:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top
      left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: sp8 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sp8 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

/* Navigasi Bar */

.jogja-icon {
  width: 200px;
  height: 50px;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.nav-item:first-child .nav-link {
  color: var(--primary) !important;
}

.nav-link:hover {
  color: var(--primary) !important;
}

@media (min-width: 768px) {
  .jogja-icon {
    width: auto;
    height: auto;
  }
}

/* carousel */
.carousel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 30%;
  transform: translateX(-30%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .category {
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.1em;
}
.carousel .list .item .topic {
  color: var(--primary);
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 15px;
  margin-top: 20px;
}
.carousel .list .item .buttons a {
  border: none;
  background-color: #e48e27;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  font-family: Poppins;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 300ms ease-in-out;
}
.carousel .list .item .buttons a:hover {
  letter-spacing: 2px;
}
.carousel .list .item .buttons a:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
  transition: 300ms ease-in-out;
}
.carousel .list .item .buttons a:nth-child(2):hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 30px;
  left: 55%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}
.thumbnail .item .content .description {
  font-weight: 600;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (min-width: 768px) {
  .arrows {
    right: 40%;
  }
}

@media (min-width: 1024px) {
  .arrows {
    right: 59%;
  }
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(167, 167, 167, 0.8);
  border: none;
  color: #000;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button i {
  font-size: 1.5rem;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 30px;
    left: 55%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
  .carousel .list .item .content .des {
    font-size: 15px;
  }
}

/* About / Introduce Yogyakarta Page */
#about h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.intro {
  color: var(--primary);
}

#about img {
  width: 100%;
}

#about .desc-about {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

#about .modal-btn-history {
  border-radius: 1rem;
  background-color: var(--primary);
  border: none;
  outline: none;
  font-weight: 600;
  color: white;
  font-size: 0.85rem;
  padding: 0.6rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.thumb-history {
  width: 100%;
  height: 250px;
  border-radius: 0.8rem;
  margin-bottom: 1.15rem;
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/history-jogja.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-modal {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.desc-modal {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  #about h1 {
    font-size: 2rem;
  }
  #about .desc-about {
    font-size: 1.2rem;
  }
  #about .modal-btn-history {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
  .thumb-history {
    height: 350px;
    margin-bottom: 1.25rem;
  }
  .title-modal {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .desc-modal {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #about h1 {
    font-size: 2.5rem;
  }
  .thumb-history {
    height: 400px;
    margin-bottom: 1.25rem;
    background-position-y: -80px;
  }
}

/* Footer Styling */
.footer-d {
  background-color: var(--footerColor) !important;
  padding: 0 3rem;
}

.footer-thumb {
  list-style-type: none;
  gap: 6rem;
  margin-top: 1rem;
}

.foot-nav-list {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.copyright-d {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.social-media a {
  color: #fff;
}

.social-media a i {
  font-size: 1.25rem;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .footer-d {
    padding: 0 5rem;
  }
  .footer-thumb {
    list-style-type: none;
    gap: 10rem;
    margin-top: 1rem;
  }
  .social-media a i {
    font-size: 1.5rem;
  }
}

/* Footer mobile */
.footer-m {
  background-color: var(--footerColor);
}

.copyright-m {
  color: #fff;
  font-size: 0.75rem;
}

.list-nav-m a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.social-media-m a {
  color: #fff;
  font-size: 1.2rem;
}

/* Hotels Section */
#hotels {
  background-color: var(--footerColor);
  padding: 2.5rem 2rem 2rem;
  width: 100%;
  height: fit-content;
}

#hotels .hotels-head {
  font-family: "Barlow", sans-serif;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 0.2rem;
  transform: translateY(0.5rem);
  text-align: center;
}

#hotels .hotels-title {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
}

#hotels .hotels-location {
  font-size: 1.25rem;
  color: var(--primary);
  margin-bottom: 2rem;
  text-align: center;
}

#hotels .arr {
  background-color: #c9c9c9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

#hotels .arr:hover {
  background-color: #eaeaea;
}

#hotels .arr i {
  font-size: 1.8rem;
}

#hotels .carousel-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  overflow-x: scroll;
}

#hotels .carousel-container::-webkit-scrollbar {
  width: 0;
}

#hotels .card-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  height: fit-content;
  background-color: #fff;
  border-radius: 0.75rem;
  color: #000;
  overflow: hidden;
  cursor: pointer;
}

#hotels .card-carousel .carousel-image {
  width: 100%;
  height: 250px;
  transition: 300ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hotels .card-carousel:hover .carousel-image {
  transform: scale(1.05);
}

#hotels .card-carousel:nth-child(1) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-1.png");
}

#hotels .card-carousel:nth-child(2) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-2.png");
}

#hotels .card-carousel:nth-child(3) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-3.png");
}

#hotels .card-carousel:nth-child(4) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-4.png");
}

#hotels .card-carousel:nth-child(5) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-5.png");
}

#hotels .card-carousel:nth-child(6) .carousel-image {
  background: url("https://techtitans.sirv.com/wonderful-yogyakarta/homepage/image-6.png");
}

#hotels .card-carousel .card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
}

#hotels .card-carousel .card-body h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#hotels .card-carousel .card-body .location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hotels .card-carousel .card-body .location p {
  color: #5f5f5f;
  font-size: .9rem;
}

#hotels .card-carousel .card-body .location .ratting-card {
  padding: .3rem .5rem;
  background-color: #ffbd3928;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #ffbd39;
  border-radius: 1rem;
  font-size: .9rem;
  transform: translateY(-0.5rem);
}

#hotels .card-carousel .card-body .price-hotels {
  color: var(--secondary);
}

#hotels .card-carousel .card-body .price-hotels .price-suffix {
  font-size: 1rem;
  color: #858585;
}

#hotels .card-carousel .card-body .tiketcom {
  font-size: .8rem;
  color: #5f5f5f;
}

#hotels .card-carousel .card-body .tiketcom a {
  text-decoration: none;
  color: #5f5f5f;
}

@media screen and (min-width: 768px) {
  #hotels {
    padding: 3.5rem 3rem 3rem;
  }
  #hotels .hotels-head {
    letter-spacing: 0.3rem;
    text-align: left;
  }
  #hotels .hotels-title {
    text-align: left;
  }
  #hotels .hotels-location {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  #hotels .card-carousel {
    width: 380px;
  }
}

@media screen and (min-width: 1024px) {
  #hotels .hotels-title {
    font-size: 2.5rem;
  }
  #hotels .hotels-location {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* Testimoni */
#testimoni {
  padding: 2.5rem 2rem 2rem;
}

#testimoni .title-testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

#testimoni .title-testimoni h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

#testimoni .title-testimoni p {
  font-size: 0.85rem;
  text-align: center;
}

#testimoni .testimoni-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

#testimoni .testimoni-container .testimoni-card {
  position: relative;
  width: 300px;
  height: fit-content;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#testimoni .testimoni-container .testimoni-card::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: -0.95rem;
  width: 330px;
  height: 190px;
  background-color: var(--primary);
  border-radius: 1rem;
  z-index: -10;
}

#testimoni .testimoni-container .testimoni-card .photo-testimoni {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1.25rem;
  gap: 0.9rem;
  border-bottom: 1px solid #dbdbdb;
}

#testimoni .testimoni-container .testimoni-card .photo-testimoni img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#testimoni .testimoni-container .testimoni-card .photo-testimoni .photo-title {
  font-weight: 600;
  font-size: 1.25rem;
}

#testimoni .testimoni-container .testimoni-card .photo-testimoni .country {
  color: #818181;
}

#testimoni .testimoni-container .testimoni-card .ratting-star {
  color: var(--primary);
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

#testimoni .testimoni-container .testimoni-card .text-testimoni {
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  #testimoni {
    padding: 3.5rem 3rem 3rem;
  }

  #testimoni .title-testimoni {
    margin-bottom: 1.5rem;
  }

  #testimoni .title-testimoni h1 {
    font-size: 2.5rem;
  }
  
  #testimoni .title-testimoni p {
    font-size: 1rem;
  }

  #testimoni .testimoni-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

}

@media screen and (min-width: 1024px) {
  #testimoni {
    padding: 3.5rem 3rem 3rem;
  }

  #testimoni .title-testimoni h1 {
    font-size: 3rem;
  }
  
  #testimoni .title-testimoni p {
    font-size: 1.15rem;
  }

  #testimoni .testimoni-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
  }
}